<form (ngSubmit)="onSubmit()">
    <div class="input-group">
        <p>
            <label for="intial-investment">Intial Investment</label>
            <input type="number" id="intial-investment" name="intial-investment" [(ngModel)]="enteredInitialInvestment"/>
        </p>
        <p>
            <label for="annual-investment">Annual Investment</label>
            <input type="number" id="annual-investment" name="annual-investment" [(ngModel)]="enteredAnnualInvestment"/>
        </p>
    </div>
   <div class="input-group">
        <p>
            <label for="expected-return">Expected Return</label>
            <input type="number" id="expected-return" name="expected-return" [(ngModel)]="enteredExpectedReturn" />
        </p>
        <p>
            <label for="duration">Duration</label>
            <input type="number" id="duration" name="duration" [(ngModel)]="enteredDuration" />
        </p>
    </div>
    <div>
        <button>Calculate</button>
    </div>


</form>